{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soil Analysis</title>
    <link rel="stylesheet" href="{% static 'DHT11/list.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="container">

    <div class="navbar"></div>

    <div class="tituloLocal">
        <h1>Fazenda Teste</h1>
    </div>

    <div class="leftSide">

        <div class="umidadeTempArAtual">
          {% if current_data %}
            <p>Temperatura: {{ current_data.temperatura }} °C</p>
            <p>Umidade: {{ current_data.umidade }} %</p>
         <p>Atualizado em: {{ current_data.timestamp|time:"H:i:s" }}</p>
             {% else %}
          <p>Sem dados disponíveis</p>
             {% endif %}
        </div>

        <div class="umidadeTempGrafico">
            <canvas id="sensorChart" width="780" height="340"></canvas>
        </div>
    </div>

    <div class="rightSide">
        <div class="umidadeSoloAtual"></div>
        <div class="LitrosUtilizados"></div>
    </div>

</div>

<script src="{% static 'DHT11/script.js' %}"></script>

</body>
</html>
